

<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md text-center">
        <div class="my-4 text-5xl font-bold"><h1>{{ section.settings.title_id }}</h1></div>
        <div class="my-4"><p class="text-base leading-normal md:text-xl">{{ section.settings.subtext_title }}</p></div>
        <div class="my-4">
            
            {% if section.settings.button_url == blank %}
                {% assign shop_url = shop.secure_url %}
            {% else %}
                {% assign shop_url = section.settings.button_url %}
            {% endif %}
            <a href="{{ shop_url }}" class="inline px-4 py-2 text-base font-medium text-white bg-green-600 shadow hover:bg-green-800">{{ section.settings.button_label }}</a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Template404",
    "tag":"section",
    "settings": [
        {
            "type": "text",
            "id": "title_id",
            "default": "404 ",
            "label": "404 Heading Title",
            "info":"404 Heading Title"
        },
        {
            "type": "text",
            "id": "subtext_title",
            "default": "The page that you're looking for is not found",
            "label": "404 Subtext Title"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Back to homepage",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        }
    ]
}
{% endschema %}



